@media screen and (orientation: landscape){
    main {
        margin-top: 15rem;
        margin-bottom: 10rem;
    }
}

@media screen and (min-width:1030px) {
    header.flotante {
        padding: 1rem 0;
        transition: all .5s linear;
    }
}