main {
    min-height: 100vh;
}

/* ---Hero---- */
.hero-container {
    position: relative;
    width: 100%;
    height: 27em;
    font-size: 4vw;
}

.hero-container img {
    width: 100%;
    height: 27em;
    object-fit: cover;
    object-position: -6em 3em;
}

.hero-texto-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
    width: 80%;
    color: var(--blanco);
    font-family: var(--roboto);
    line-height: 2.6em;
    overflow: hidden;
}

.hero-texto-container h1 {
    font-size: 2.3825em;
}

.hero-texto-container span {
    font-size: 1em;
}

/*----Main-content---- */
.content {
    padding-bottom: 1.5rem;
    background-color: var(--gris);
    font-size: 2vw;
}

.content h2 {
    padding: 1.5em 0em;
    color: var(--negro);
    background: var(--blanco);
    text-align: center;
    font-size: 2em;
    font-family: var(--roboto);
}

.card-content {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    max-width: 1200px;
}

.card-content:nth-child(even) {
    flex-direction: row-reverse;
}

.card-content .content-titulo,
.card-content .content-img {
    width: 48%;
    min-height: 15.979em;
}

.content-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blanco);
    background-color: var(--negro);
    font-size: 1.4em;
}

/* --Media Querys-- */
@media screen and (min-width:720px) {
    /* --Hero-- */
    .hero-container {
        font-size: 2.2vw;
    }

    .hero-container img {
        object-position: 0em 0em;
    }

    .hero-texto-container {
        transform: translate(-50%, -105%);
    }

    /* --Main-content-- */
    .content {
        font-size: 1.5vw;
    }
}

@media screen and (min-width:1030px) {
    /*  ---Header / nav --- */
    header,
    .nav-lista {
        background-color: transparent;
    }

    header.flotante {
        padding: 1rem 0;
        background-color: var(--negro);
        transition: all .5s linear;
    }
}