:root {
    --blanco: #F2E9E4;
    --gris: #625760 ;
    --negro: #151524;
    --negroTransparente: #151524a2;
    --neutro: #e9e9e9;

    --roboto: 'Roboto', sans-serif;
    --robotoCondensed: 'Roboto Condensed', sans-serif;

    --html-font-size: 4.26vw;
}

/* Global */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}
/* Auxiliar */
.holder {
    margin: 0 auto;
    width: 95%;
    max-width: 1600px;
}

/* Header -- Nav */
header {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 1.25rem 0;
    background-color: var(--blanco);
    z-index: 100;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    height: 30px;
}

.logo {
    display: inline-flex;
    justify-content: center;
    margin-left: .5rem;
}

.nav-lista {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 100vw;
    top: 70px;
    width: 100vw;
    height: 100%;
    padding: 0 3rem;
    background-color: var(--blanco);
    border-top: 1px solid var(--gris);
    transition: all .7s ease-out;
}

ul.mostrar {
    left: 0vw;
}

.nav-lista li {
    display: block;
    margin-top: 1.75em;
    line-height: 3.5rem;
    text-align: left;
    border-bottom: 1px solid var(--gris);
}

.nav-lista li a {
    color: var(--negro);
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
}

.nav-lista li a:hover,
.nav-lista li a:focus {
    color: var(--gris);
}

button.btn-menu {
    margin-right: .5rem;
    padding: .25rem .5rem;
    font-size: 20px;
    background-color: var(--blanco);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.redes {
    display: none;
}

/* --Media querys */
@media screen and (min-width:720px) {
    header {
        padding: 1.9rem 0;
    }
}

@media screen and (min-width:1030px) {
    header,
    .nav-lista {
        background-color: transparent;
    }

    .nav-lista {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        position: static;
        width: 100%;
        max-width: 1200px;
        height: inherit;
        padding: 0;
        border-top: none;
    }

    .nav-lista li {
        margin-top: 0;
        border-bottom: 0;
        line-height: initial;
    }

    .nav-lista > li + li {
        margin-left: 1rem;
        }

    .nav-lista li a {
        position: relative;
        padding-bottom: .2rem;
        font-size: .875rem;
        text-transform: none;
    }
    
    .nav-lista li a::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2.5px;
        background-color: var(--negro);
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.5s ease-in-out;
    }
    
    .nav-lista a:hover::before {
        transform: scaleX(1);
    }

    .redes {
        display: flex;
        align-items: center;
    }

    .redes a {
        display: inherit;
        margin-right: .5rem;
        font-size: .85rem;
        color: var(--negro);
        transition: .5s ease-in;
    }

    .redes img {
        margin-right: .1rem;
    }

    .redes a:hover {
        font-size: 1rem;
        transition: .6s ease-out;
    }

    button.btn-menu {
        display: none;
    }
}